<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questions</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
        form,fieldset {
            display: inline;
        }
    </style>
</head>
<body>
    <div>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <fieldset>
        <legend>Upload a CSV file of questions to get started</legend>
        <input type="file" name="file">
        <input type="submit">
        </fieldset>
    </form>
    <form action="/paste" method="POST" enctype="multipart/form-data">
        <fieldset>
        <legend>Paste Excel Data here to get started</legend>
        <textarea name="data"></textarea>
        <input type="submit">
        </fieldset>
    </form>
    <form>
        <fieldset>
        <legend>Add tags to the questions</legend>
        <input type="text" oninput=addTags(event) value="#">
        </fieldset>
    </form>
    </div>
    <table>
        <thead>
            {% for column in header %}
                <th>{{column}}</th>
            {% endfor %}
        </thead>
        <tbody>
            {% for row in questions %}
                <tr>
                    <td><button class="tags" onclick=copyToClipboard(event)>#</button>{{row[0]}} </td>
                    {% for column in row[1:] %}
                    <td><button onclick=copyToClipboard(event)>{{column}}</button></td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        function copyToClipboard(event){
            navigator.clipboard.writeText(event.target.textContent);
            event.target.style.color="red";
        }
        function addTags(event) {
            console.log(event.target.textContent);
            const tags = document.querySelectorAll(".tags");
            for (let element of tags) {
                element.textContent = event.target.value
            }
        }
    </script>
</body>
</html>
